
<div class="layout horizontal">

    <i (click)="minimize()" class="flex-3 center zmdi zmdi-window-minimize windowButton">
        <paper-ripple></paper-ripple>
    </i>
    <i (click)="toggleResize()" class="flex-3 zmdi windowButton"
       [ngClass]="{'zmdi-window-restore': browserWindowInstance.isMaximized(), 'zmdi-window-maximize': !browserWindowInstance.isMaximized()}">
        <paper-ripple></paper-ripple>
    </i>
    <i id="closeWindowButton" (click)="close()" class="flex-3 zmdi zmdi-hc-1x zmdi-close windowButton">
        <paper-ripple></paper-ripple>
    </i>

</div>
