<!-- Activity bar -->


<paper-drawer-panel id="menuDrawerPanel" responsive-width="100000px" right-drawer=true class="menuButtonRightDirection">

    <div drawer>
        <h1>drawer section</h1>
    </div>

    <div main>
        <activity-panel></activity-panel>
        <paper-toolbar class="main">
            <paper-icon-button icon="menu" (click)="toggleDrawer()" ></paper-icon-button>

        </paper-toolbar>

        <div>
            <button id="btn" (click)="clickMethod()">Click me!</button>
            <paper-tooltip for="btn">Tooltip text</paper-tooltip>
        </div>
        <!--<log-operation></log-operation>-->
    </div>

</paper-drawer-panel>