<!-- Activity bar -->


<paper-drawer-panel id="menuDrawerPanel" responsive-width="100000px" right-drawer=true class="menuButtonRightDirection">

    <div drawer>
        <h1>drawer section</h1>

        <div role="listbox">

            <div *ngFor="#item of categories">
                <menu-item [item]="item"></menu-item>
            </div>

            <!--<a class="paper-item-link" href="#inbox" tabindex="-1">-->
                <!--<paper-icon-item>-->
                    <!--<paper-ripple></paper-ripple>-->
                    <!--<iron-icon icon="inbox" item-icon></iron-icon>-->
                    <!--Inbox-->
                <!--</paper-icon-item>-->
            <!--</a>-->
            <!--<menu-item></menu-item>-->


            <!--<a class="paper-item-link" href="#star" tabindex="-1">-->
                <!--<paper-icon-item>-->
                    <!--<paper-ripple></paper-ripple>-->
                    <!--<iron-icon icon="star" item-icon></iron-icon>-->
                    <!--Starred-->
                <!--</paper-icon-item>-->
            <!--</a>-->

            <!--<a class="paper-item-link" href="#avatarblue" tabindex="-1">-->
                <!--<paper-icon-item>-->
                    <!--<paper-ripple></paper-ripple>-->
                    <!--<iron-icon icon="inbox" item-icon></iron-icon>-->
                    <!--Alphonso Engelking-->
                <!--</paper-icon-item>-->
            <!--</a>-->

            <!--<a class="paper-item-link" href="#avatar" tabindex="-1">-->
                <!--<paper-icon-item>-->
                    <!--<paper-ripple></paper-ripple>-->
                    <!--<iron-icon icon="star" item-icon></iron-icon>-->
                    <!--Angela Decker-->
                <!--</paper-icon-item>-->
            <!--</a>-->
        </div>

    </div>

    <div main>
        <activity-panel></activity-panel>
        <paper-toolbar class="main">
            <paper-icon-button icon="menu" (click)="toggleDrawer()" [hidden]="drawer?.selected == 'drawer'"></paper-icon-button>

            <paper-tabs selected="0" class="bottom self-end" style="width: 300px;">
                <paper-tab>ITEM ONE</paper-tab>
                <paper-tab>ITEM TWO</paper-tab>
            </paper-tabs>
        </paper-toolbar>

        <div>
            <button id="btn" (click)="clickMethod()">Click me!</button>
            <paper-tooltip for="btn">Tooltip text</paper-tooltip>
        </div>
        <!--<log-operation></log-operation>-->
    </div>

</paper-drawer-panel>