<!-- Activity bar -->
<activity-panel></activity-panel>

<paper-drawer-panel id="menuDrawerPanel" responsive-width="100000px" right-drawer=true class="menuButtonRightDirection">

    <div drawer>
        <h1 style="z-index: 2;">drawer section</h1>
    </div>

    <div main>
        <paper-toolbar class="main">
            <paper-icon-button icon="menu" (click)="toggleDrawer()" ></paper-icon-button>
        </paper-toolbar>


        <!--<log-operation></log-operation>-->
    </div>

</paper-drawer-panel>