<div class="topPanel layout horizontal">

    <div class="flex-2">
        <div class="layout horizontal">
            <div *ngFor="#mission of arrActivityMissions | slice:0:maxSizeDisplayMissions" class="flex-1">
                <i id="{{mission.id}}" class="{{mission.iconClass}}"></i>
                <paper-tooltip position="left" animation-delay="0" for="{{mission.id}}">{{mission.tooltipText}}</paper-tooltip>
            </div>
            <div *ngIf="arrActivityMissions.length > maxSizeDisplayMissions">... ({{arrActivityMissions.length}})</div>
        </div>

    </div>
    <div class="flex-3"></div>
    <div class="flex-1">
        <top-sliding-drawer></top-sliding-drawer>
    </div>
    <div class="flex-5"></div>
    <window-buttons class="flex-1"></window-buttons>
</div>
<!--style="margin-left: auto;"-->